doctype html
head
  title ghini gardens

  script(src='/socket.io/socket.io.js')
  script(src='/lib/jquery-latest.min.js')
  script(src='/lib/bootstrap.min.js')
  script(src='/lib/leaflet.js')
  script(src='/lib/leaflet.awesome-markers.js')
  script(src='/js/cuchubo.js')
  script(src='/js/easy-button.js')
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/leaflet.css')
  link(rel='stylesheet', href='/css/leaflet.awesome-markers.css')
  link(rel='stylesheet', href='/css/cuchubo.css')
  link(rel='stylesheet', href='/css/easy-button.css')


  link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
  link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
  link(rel="manifest", href="/manifest.json")
  link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
  meta(name="theme-color", content="#ffffff")

  script.
    $(init);

body

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand ghini gardens
        .collapse.nav-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-zoom-in.icon-white
                |  gardens
                b.caret
              ul#gardens-menu-list.dropdown-menu
                li#gardens-menu-item-world
                  a(href='#', onclick='fireSelectGarden(\'\'); return false;')
                    i.icon-home.icon-black
                    |  world
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-off.icon-white
                |  toggle
                b.caret
              ul#toggle-menu-list.dropdown-menu

  #content
    #map
    #map-ui
      div.panel.panel-danger
        div.panel-heading
          ul.nav.nav-pills
            li.active(style='display: block;')
              a(data-toggle='pill' href='#input-species') species<br/>lookup
            li#search-by-accession-tab(style='display: none;')
              a(data-toggle='pill' href='#input-accession') accession<br/>lookup
            li#search-by-tag-tab(style='display: none;')
              a(data-toggle='pill' href='#input-tag') tag<br/>lookup
          div.class-content.tab-content
            div#input-species.tab-pane.fade.in.active
              input(type='text', onkeyup='match_species(this.value)', style='margin:3pt;')
              div.panel-content
                table#result.table
            div#input-accession.tab-pane.fade
              p todo - accession
              div.panel-content
                table#result-a.table
            div#input-tag.tab-pane.fade.in
              p todo - tag
              div.panel-content
                table#result-t.table
    #accessions

  #showPhotoModal.modal.hide.fade(tabindex='-1', role='dialog', style='width: 800px;')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3
    .modal-body
      img(src='')
    .modal-footer
      button.btn(data-dismiss='modal') Close
